{% extends 'extend.html' %}

{% block main %}
<div class="main main-raised">
    <div class="section text-center">
        <div class="container">
            <h2 class="font">출발지와 목적지를 입력하세요.</h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="/static/assets/img/linemap.svg" width="85%" height="85%" />
                </div>
                <div class="col-md-6">
                    <br><br><br><br>
                    <form action="{% url 'NawamMa:subway' %}" method="get">
                        출발지 : <input class="form-group" type="text" name="departure"><br>
                        목적지 : <input class="form-group" type="text" name="destination"><br>
                        <input class="btn btn-primary" type="submit" value="검색하기">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}